
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin:0 !important;
    padding: 0 !important;
    color: var(--tulisan) !important;
    font-family: 'Rubik', sans-serif;
}
:root {
    --white:#f1f8faff;
    --menu:#5e5e5e;
    --tulisan:#191a1d;
    --garis:#4b6cc1;
    --link:#70b3e6;
    --link2:#f9322c;
    --lain:#ffc83d;
}


body{
    background-color:  var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px !important;
}
main{

    width: clamp(362px,50%,602px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    /* border: 1px solid var(--garis); */
    width: 100% !important;
    height: 100px !important;
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: start;
    gap: 10px !important;
    
}
header img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

.nama{
    padding: 8px !important;
    padding-top: 25px !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    letter-spacing: 0.1em;
}
.nama::after{
    content: "";
    width: clamp(120px,25%,300px);
    position: absolute;
    border: 1px solid var(--garis);
    height: 4px !important;
    background-color: var(--garis);
    border-radius: 10px;
    margin-top: 35px !important;
    margin-left: -222px !important;
}

nav{
    /* border: 1px solid var(--garis); */
    width: 100%;
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3px !important;
    justify-content: start;
    align-items: center;
}
nav ul li {
    /* border: 1px solid var(--garis); */
    width: clamp(100px,50%,120px) !important;
    padding: 3px !important;
    letter-spacing: 0.1em;
    text-align: center;
    
}
nav ul li a{
    color: var(--menu) !important;
    text-decoration: none;
    font-size: 14px !important;
    
}
nav ul li a:hover{
    text-decoration: none;
    font-size: 14px !important;
    color: var(--link) !important;
}
nav ul li a:active{
    border-bottom: 2px solid var(--garis);
    padding-bottom: 5px !important;
    border-radius: 5px !important;
    text-decoration: none;
    font-size: 14px !important;
    color: var(--tulisan) !important;
}

section{
    margin-top: 20px !important;
    width: 100%;
    background-color: var(--lain);
    padding: 8px !important;
    border-radius: 5px !important;
   
}
section h1{
    font-size: 42px !important;
    font-weight: 400 !important;
    letter-spacing: 0.03em;
    margin-bottom: 12px !important;
}
section p{
    letter-spacing: 0.03em;
    font-weight: 200 !important;
    line-height: 29px !important;
    font-size: 14px !important;
    margin-bottom: 8px !important;
}
section p a{
    color: var(--link2) !important;
    text-decoration: none;
}
